# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = Jordan Salazar
	email = jrsalazar@cirkel.cc
	mergeoptions = --no-edit
[user]
	name = Jordan Salazar
	email = jrsalazar@cirkel.cc
[push]
	default = matching
	followTags = true
[rerere]
	enabled = true

[gitflow "prefix"]
    feature = feature/
    release = release/
    hotfix = hotfix/
    support = 
    versiontag = v
[pull]
	default = simple
