# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = jrsalazar
	email = contact@jrsalazar.dev
[push]
	default = matching
[core]
	excludesfile = /Users/jrs/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	conflicted = !nvim +Conflicted
[pull]
	rebase = false
[color]
	ui = true
